<div id=hatEditor">
    <h2>Auto hi-hats</h2>
    <div class="wrapper select">
        <label for="hatStart">Pattern start</label>
        <select id="hatStart">
            <option value="255">never</option>
        </select>
    </div>
    <div class="wrapper range">
        <label for="hatVolume">Hi-hat volume</label>
        <input type="range" id="hatVolume" min="0" max="15">
    </div>
    <div class="wrapper range">
        <label for="hatPitch">Hi-hat pitch</label>
        <input type="range" id="hatPitch" min="0" max="31">
    </div>
</div>
