<h4>Auto hi-hats</h4>
<p>
    Instead of manually programming hi-hats, you can define a pattern once, and have it
    repeat throughout the song.
</p>
<p>
    The downside is, this pattern will not alternate. The upside
    is that the auto hat duration is so short (a 64th note) that it won't interfere with
    the audio you program for the available two channels.
</p>
<p>
    You can further specify the volume and pitch of the hi-hats as well as the measure
    number where you'd like this looped pattern to start. You can write 16th or 32nd
    note patterns for full funkiness.
</p>