<h4>Slocum Tracker help</h4>
<p>
    Welcome to Slocum Tracker. A compositional tool that allows you to create music for the Atari 2600
    using a tracker-style interface.
</p>
<p>
    Note that Slocum Tracker doesn't generate any sound but rather - once you hit the "Export" button - creates
    assembly instructions for Paul Slocums Sequencer Kit, which in turn can build a program that you can execute
    on an Atari 2600 (emulator).
</p>
<p>
    While this sounds like a hassle, it merely implies you need to download the files listed
    <a href="https://github.com/igorski/slocum-tracker#how-to-create-an-atari-rom-for-my-composition" target="_blank">here</a>
    and follow the instructions. It's quite painless really.
</p>