<h4>Song save</h4>
<p>
    You can save your work so you can revisit it at a later date. Songs are saved in your browsers local storage, so
    are only available in that browser (you cannot exchange your work over different machines / devices, yet).
</p>
