<h4>Pattern properties</h4>
<p>
    Your composition can contain up to 255 patterns. To speed up proceedings, you can
    copy a pattern (this copies both channels), and paste them into another pattern (pasting does
    not clear existing pattern content, only overwrite overlapping notes).
</p>
<p>
    When adding a pattern, it is inserted after the currently active pattern. As such it is possible
    to add patterns in between existing parts of your composition.
</p>