<h4>Tracker help</h4>
<p>
    For speedy editing, it is recommended to use the keyboard while creating your patterns. You can use the arrow
    keys to switch pattern and channel positions and while you can use <strong>ENTER</strong> to open the parameter automation editor,
    and <strong>ctrl + ENTER</strong> to open the note entry editor, it is recommended you invest in getting to know the shortcuts
    for speedy editing!
</p>
<p>
    For one, you can play notes instantly by using the following keyboard keys:<br /><br />
    <strong>&nbsp;S D   G H J   L ;<br />
    Z X C V B N M , . /</strong><br /><br />
    ...which mimic the layout of a 1.5 octave piano keyboard. You can adjust the root octave by using the <strong>[</strong> and <strong>]</strong> keys.
    By either clicking the record button in the transport controls or by using <strong>ctrl + R</strong> to toggle the recording mode, you can add the notes directly into the currently selected pattern.
</p>
<p>
    The <strong>K</strong>-key inserts an "off"-instruction (kills previously playing note) while hitting <strong>SPACEBAR</strong> toggles the play state of the sequencer.
</p>
<p>
    By using the left and right arrow keys you can move between note entry, instrument selection, module automation and module
    automation values. You can use the numeric and character keys to change the values (see <a href="https://www.igorski.nl/efflux/help/patterns" target="_blank">online manual</a>).
</p>
<h4>Selections and copy / paste</h4>
<p>
    If you hold down <strong>shift</strong> while using the arrow keys (or mouse), you can make a selection. To copy a selection,
    press <strong>ctrl + C</strong>, press <strong>ctrl + V</strong> to paste and <strong>ctrl + X</strong> to cut selections. You can paste
    selections across the available channels.
</p>
<h4>Undo / redo</h4>
<p>
    efflux stores 99 states in its internal history. You can use <strong>ctrl + Z</strong> to undo and
    <strong>ctrl + shift + Z</strong> to redo a state.
</p>
<p>
    For more in-depth help you can consult the <a href="https://www.igorski.nl/efflux/help/patterns" target="_blank">pattern page</a>
    in the online manual.
</p>
