<h4>Tracker help</h4>
<p>
    For speedy editing, it is recommended to use the keyboard while creating your patterns. You can use the arrow
    keys to switch pattern and channel positions and use spacebar to toggle the note entry editor.
</p>
<h4>Selections and copy / paste</h4>
<p>
    If you hold down <i>shift</i> while using the arrow keys, you can make a selection. To copy a selection, press
    <i>ctrl + C</i>. To paste a selection, press <i>ctrl + V</i>. You can also cut selections by pressing <i>ctrl + X</i>.
    You can paste selections across the two available channels.
</p>
<h4>Undo / redo</h4>
<p>
    Slocum Tracker stores 99 states in its internal history. You can use <i>ctrl + Z</i> to undo and
    <i>ctrl + shift + Z</i> to redo a state.
</p>