<h4>Efflux help</h4>
<p>
    Welcome to Efflux. A compositional tool that allows you to create music inside your web browser.
    Efflux provides you with up to eight synthesizer modules, allowing you to create your own custom
    sounds, driven by a tracker interface.
</p>
<p>
    Contextual help is offered for all different aspects of the tracker. If you wish to read a more
    in-depth manual for a quick start, consult the <a href="http://www.igorski.nl/efflux/help">online manual</a>.
</p>
<p>
    Efflux is under continuous development, open for suggestions and also fully
    <a href="https://www.github.com/igorski/efflux-tracker" target="_blank">open source</a>.
</p>