<h4>Song save</h4>
<p>
    You can save your work so you can revisit it at a later date. Songs are saved in your browsers local storage, so
    are only available in that browser (you cannot exchange your work over different machines / devices, yet).
</p>
<h4>Song export</h4>
<p>
    Once you a ready to listen to your work on an Atari 2600 (emulator), you can hit the "Export song" button to
    create assembly instructions for Paul Slocums Sequencer Kit, which in turn can be assembled into a runnable Atari program.
</p>
<p>
    While this sounds like a hassle, it merely implies you need to download the files listed
    <a href="https://github.com/igorski/slocum-tracker#how-to-create-an-atari-rom-for-my-composition" target="_blank">here</a>
    and follow the instructions. It's quite painless really.
</p>