<h4>Efflux help</h4>
<p>
    Welcome to Efflux. A compositional tool that allows you to create music inside your web browser.
    Efflux provides you with up to eight synthesizer modules, allowing you to create your own custom
    sounds, driven by a tracker interface.
</p>
<p>
    Contextual help is offered for all different aspects of the tracker. On the other hand, don't be
    afraid to click / tap around to test what this application can offer you.
</p>
<p>
    Efflux is under continuous development, open for suggestions and also fully
    <a href="https://www.github.com/igorski/efflux-tracker" target="_blank">open source</a>.
</p>