<h4>Tracker help</h4>
<p>
    For speedy editing, it is recommended to use the keyboard while creating your patterns. You can use the arrow
    keys to switch pattern and channel positions and use <i>ENTER</i> to open the note entry editor or <i>ctrl + ENTER</i> to open the
    parameter automation editor. The <i>O</i>-key inserts an "off"-instruction (kills previously playing note) while
    hitting <i>SPACEBAR</i> toggles the play state of the sequencer.
</p>
<h4>Selections and copy / paste</h4>
<p>
    If you hold down <i>shift</i> while using the arrow keys (or mouse), you can make a selection. To copy a selection,
    press <i>ctrl + C</i>, press <i>ctrl + V</i> to paste and <i>ctrl + X</i> to cut selections. You can paste
    selections across the available channels.
</p>
<h4>Undo / redo</h4>
<p>
    efflux stores 99 states in its internal history. You can use <i>ctrl + Z</i> to undo and
    <i>ctrl + shift + Z</i> to redo a state.
</p>
<p>
    For more in-depth help you can consult the <a href="http://www.igorski.nl/efflux/help/patterns" target="_blank">pattern page</a>
    in the online manual.
</p>
