<h4>Song save</h4>
<p>
    You can save your work so you can revisit it at a later date. Songs are saved in your browsers local storage, so
    are only available to the browser it was saved in.
</p>
<h4>Import / export</h4>
<p>
    You can also export your song to a file which can then be imported in another browser. You can for instance start
    a song on your Android phone, export the song and import it on your desktop computer to continue your work on
    a larger screen.
</p>
<h4>Output recording</h4>
<p>
    It is possible to record the output of efflux live as a WAV file. By selecting this option, the recording of
    the audio output is enabled (recording will start immediately if the sequencer was playing, or will start as soon
    as the sequencer is started). Once the sequencer is stopped, the recording will be saved and downloaded onto
    your device.
</p>
