<h4>Song properties</h4>
<p>
    Apart from giving your badass composition a title and listing your name as its author, you can also adjust
    the overall tempo of your song as well as... the tuning.
</p>
<h4>Tuning ??</h4>
<p>
    An Atari 2600 isn't exactly capable of producing in-tune notes, as a matter of fact, often being out of tune
    with each other! Luckily, Paul Slocum has devised three tuning lists for different situations.
</p>
<p>
    <i>Bass tuning</i> allows for the most bass notes. It is mostly from the C scale tuned up about 50 cents. <i>Lead
    tuning</i> has loads of Square and Lead notes from the C scale tuned slightly flat, but hardly any bass! <i>Saw
    tuning</i> gives you the most notes using Saw waveforms tuned to C# slightly sharp.
</p>