<header id="header">
    <nav id="menu">
        <div class="toggle">
            <span>&#9776;</span>
        </div>
        <h1>efflux</h1>
        <section id="menuSection"></section>
    </nav>
    <section id="transportSection"></section>
</header>

<div class="container">
    <div id="properties">
        <section id="songEditor"></section>
        <section id="patternEditor">
            <h2>Pattern</h2>
            <ul>
                <li>
                    <button id="patternClear">clear</button>
                </li>
                <li>
                    <button id="patternCopy">copy</button>
                </li>
                <li>
                    <button id="patternPaste">paste</button>
                </li>
                <li>
                    <button id="patternAdd">add</button>
                </li>
                <li>
                    <button id="patternDelete">delete</button>
                </li>
                <li>
                    <select id="patternSteps">
                        <option value="16">16 steps</option>
                        <option value="32">32 steps</option>
                        <option value="64">64 steps</option>
                        <option value="128">128 steps</option>
                    </select>
                </li>
                <li>
                    <button id="patternAdvanced">advanced</button>
                </li>
            </ul>
        </section>
    </div>
</div>

<div class="container">
    <div id="editor">
        <section id="trackEditor">
            <ul class="controls">
                <li class="addNote"></li>
                <li class="addOff"></li>
                <li class="removeNote"></li>
                <li class="moduleParams"></li>
                <li class="moduleGlide"></li>
            </ul>
        </section>
        <section id="patternTrackList">
            <div id="patternTrackListContainer">
                <div class="wrapper">
                    <!-- HandleBars content appended here -->
                </div>
                <div class="highlight"></div>
            </div>
        </section>
        <section id="helpSection"><!-- x --></section>
    </div>
</div>

<div id="footer">
    <span>
        &copy; <a href="https://www.igorski.nl" rel="noopener" target="_blank">igorski.nl</a> 2016 - 2017
    </span>
</div>

<div id="blind"><!-- obscuring area used below overlays --></div>
