<h2>Instrument editor</h2>
<select id="instrumentSelect">
    <option value="0">Instrument 1</option>
    <option value="1">Instrument 2</option>
</select>
<ul id="oscillatorTabs">
    <li data-oscillator="1">
        Oscillator 1
    </li>
    <li data-oscillator="2">
        Oscillator 2
    </li>
    <li data-oscillator="3">
        Oscillator 3
    </li>
</ul>
<div id="canvasContainer"><!-- x --></div>
<select id="oscillatorEnabled">
    <option value="true">Enabled</option>
    <option value="false">Disabled</option>
</select>
<select id="oscillatorWaveformSelect">
    <option value="SAW">Sawtooth</option>
    <option value="TRIANGLE">Triangle</option>
    <option value="SQUARE">Square</option>
    <option value="CUSTOM">Custom</option>
</select>

<div id="oscillatorEditor">
    <h2>Oscillator tuning</h2>
    <div class="wrapper input range">
        <label for="detune">Detune</label>
        <input type="range" id="detune" min="-50" max="50" step=".1" value="0">
    </div>
    <div class="wrapper input range">
        <label for="octaveShift">Octave shift</label>
        <input type="range" id="octaveShift" min="-2" max="2" step="1" value="0">
    </div>
    <div class="wrapper input range">
        <label for="fineShift">Fine shift</label>
        <input type="range" id="fineShift" min="-7" max="7" step="1" value="0">
    </div>
    <div class="wrapper input range">
        <label for="volume">Volume</label>
        <input type="range" id="volume" min="0" max="1" step=".01" value="0">
    </div>
</div>

<div id="envelopeEditor">
    <h2>Envelopes</h2>
    <div class="wrapper input range">
        <label for="attack">Attack</label>
        <input type="range" id="attack" min="0" max="1" step=".01" value="0">
    </div>
    <div class="wrapper input range">
        <label for="decay">Decay</label>
        <input type="range" id="decay" min="0" max="1" step=".01" value="0">
    </div>
    <div class="wrapper input range">
        <label for="sustain">Sustain</label>
        <input type="range" id="sustain" min="0" max="1" step=".01" value=".75">
    </div>
    <div class="wrapper input range">
        <label for="release">Release</label>
        <input type="range" id="release" min="0" max="1" step=".01" value="0">
    </div>
</div>

<div id="filterEditor">
    <h2>Filter</h2>
    <div class="wrapper input range">
        <label for="filterFrequency">Frequency</label>
        <input type="range" id="filterFrequency" min="40" max="24000" step=".01" value="880">
    </div>
    <div class="wrapper input range">
        <label for="filterQ">Q</label>
        <input type="range" id="filterQ" min="0" max="40" step="1" value="5">
    </div>
    <select id="filterLFO">
        <option value="off">Disabled</option>
        <option value="sine">Sine</option>
        <option value="square">Square</option>
        <option value="sawtooth">Sawtooth</option>
        <option value="triangle">Triangle</option>
    </select>
    <select id="filterType">
        <option value="lowpass">Lowpass</option>
        <option value="highpass">Highpass</option>
        <option value="bandpass">Bandpass</option>
        <option value="lowshelf">Lowshelf</option>
        <option value="highshelf">Highshelf</option>
        <option value="peaking">Peaking</option>
        <option value="notch">Notch</option>
        <option value="allpass">Allpass</option>
    </select>
    <div class="wrapper input range">
        <label for="filterSpeed">LFO Speed</label>
        <input type="range" id="filterSpeed" min="0.1" max="25" step=".01" value="0.5">
    </div>
    <div class="wrapper input range">
        <label for="filterDepth">LFO Depth</label>
        <input type="range" id="filterDepth" min="0" max="100" step=".01" value="50">
    </div>
</div>
