<div class="header">
    <h2>Instrument editor</h2>
    <button class="help-button">?</button>
    <button class="close-button">x</button>
    <select id="instrumentSelect">
        <option value="0">Instrument 0</option>
        <option value="1">Instrument 1</option>
        <option value="2">Instrument 2</option>
        <option value="3">Instrument 3</option>
        <option value="4">Instrument 4</option>
        <option value="5">Instrument 5</option>
        <option value="6">Instrument 6</option>
        <option value="7">Instrument 7</option>
    </select>
</div>

<ul id="oscillatorTabs" class="tabList">
    <li data-oscillator="1">
        Oscillator 1
    </li>
    <li data-oscillator="2">
        Oscillator 2
    </li>
    <li data-oscillator="3">
        Oscillator 3
    </li>
</ul>

<div class="horizontalGroup">
    <section id="instrumentOscillatorEditor">
        <div id="canvasContainer"><!-- x --></div>
        <div class="oscillatorWaveforms">
            <select id="oscillatorEnabled">
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
            <select id="oscillatorWaveformSelect">
                <option value="SAW">Sawtooth</option>
                <option value="TRIANGLE">Triangle</option>
                <option value="SQUARE">Square</option>
                <option value="CUSTOM">Custom</option>
                <option value="NOISE">Noise</option>
            </select>
        </div>

        <div class="horizontalGroup">
            <div id="oscillatorEditor" class="instrument-parameters">
                <h2>Oscillator tuning</h2>
                <div class="wrapper input range">
                    <label for="detune">Detune</label>
                    <input type="range" id="detune" min="-50" max="50" step=".1" value="0">
                </div>
                <div class="wrapper input range">
                    <label for="octaveShift">Octave shift</label>
                    <input type="range" id="octaveShift" min="-2" max="2" step="1" value="0">
                </div>
                <div class="wrapper input range">
                    <label for="fineShift">Fine shift</label>
                    <input type="range" id="fineShift" min="-7" max="7" step="1" value="0">
                </div>
                <div class="wrapper input range">
                    <label for="volume">Volume</label>
                    <input type="range" id="volume" min="0" max="1" step=".01" value="0">
                </div>
            </div>

            <div id="envelopeEditor" class="instrument-parameters">
                <ul id="envelopeTabs" class="tabList">
                    <li data-type="amplitude" class="active">
                        Amplitude
                    </li>
                    <li data-type="pitch">
                        Pitch
                    </li>
                </ul>

                <div id="amplitudeEditor" class="tabbed-content active">
                    <h2>Amplitude envelope</h2>
                    <div class="wrapper input range">
                        <label for="attack">Attack</label>
                        <input type="range" id="attack" min="0" max="1" step=".01" value="0">
                    </div>
                    <div class="wrapper input range">
                        <label for="decay">Decay</label>
                        <input type="range" id="decay" min="0" max="1" step=".01" value="0">
                    </div>
                    <div class="wrapper input range">
                        <label for="sustain">Sustain</label>
                        <input type="range" id="sustain" min="0" max="1" step=".01" value=".75">
                    </div>
                    <div class="wrapper input range">
                        <label for="release">Release</label>
                        <input type="range" id="release" min="0" max="1" step=".01" value="0">
                    </div>
                </div>

                <div id="pitchEditor" class="tabbed-content">
                    <h2>Pitch envelope</h2>
                    <div class="wrapper input range">
                        <label for="pitchRange">Range</label>
                        <input type="range" id="pitchRange" min="-24" max="24" step="1" value="0" />
                    </div>
                    <div class="wrapper input range">
                        <label for="pitchAttack">Attack</label>
                        <input type="range" id="pitchAttack" min="0" max="1" step=".01" value="0">
                    </div>
                    <div class="wrapper input range">
                        <label for="pitchDecay">Decay</label>
                        <input type="range" id="pitchDecay" min="0" max="1" step=".01" value="1">
                    </div>
                    <div class="wrapper input range">
                        <label for="pitchSustain">Sustain</label>
                        <input type="range" id="pitchSustain" min="0" max="1" step=".01" value=".75">
                    </div>
                    <div class="wrapper input range">
                        <label for="pitchRelease">Release</label>
                        <input type="range" id="pitchRelease" min="0" max="1" step=".01" value="0">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="instrumentModulesEditor">

        <div class="instrument-parameters">
            <div class="wrapper input range">
                <label for="instrumentVolume">Volume</label>
                <input type="range" id="instrumentVolume" min="0" max="1" step=".01" value="0">
            </div>
        </div>

        <div id="filterEditor" class="instrument-parameters">
            <h2>Filter</h2>
            <select id="filterEnabled">
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
            <div class="wrapper input range">
                <label for="filterFrequency">Frequency</label>
                <input type="range" id="filterFrequency" min="40" max="24000" step=".01" value="880">
            </div>
            <div class="wrapper input range">
                <label for="filterQ">Q</label>
                <input type="range" id="filterQ" min="0" max="40" step="1" value="5">
            </div>
            <select id="filterLFO">
                <option value="off">Disabled</option>
                <option value="sine">Sine</option>
                <option value="square">Square</option>
                <option value="sawtooth">Sawtooth</option>
                <option value="triangle">Triangle</option>
            </select>
            <select id="filterType">
                <option value="lowpass">Lowpass</option>
                <option value="highpass">Highpass</option>
                <option value="bandpass">Bandpass</option>
                <option value="lowshelf">Lowshelf</option>
                <option value="highshelf">Highshelf</option>
                <option value="peaking">Peaking</option>
                <option value="notch">Notch</option>
                <option value="allpass">Allpass</option>
            </select>
            <div class="wrapper input range">
                <label for="filterSpeed">LFO Speed</label>
                <input type="range" id="filterSpeed" min="0.1" max="25" step=".01" value="0.5">
            </div>
            <div class="wrapper input range">
                <label for="filterDepth">LFO Depth</label>
                <input type="range" id="filterDepth" min="0" max="100" step=".01" value="50">
            </div>
        </div>

        <div id="delayEditor" class="instrument-parameters">
            <h2>Delay</h2>
            <select id="delayEnabled">
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
            <select id="delayType">
                <option value="0">Delay 0</option>
                <option value="1">Delay 1</option>
                <option value="2">Delay 2</option>
            </select>
            <div class="wrapper input range">
                <label for="delayTime">Delay time</label>
                <input type="range" id="delayTime" min="0" max="2" step=".001" value=".5">
            </div>
            <div class="wrapper input range">
                <label for="delayFeedback">Feedback</label>
                <input type="range" id="delayFeedback" min="0" max="1" step=".01" value="0.5">
            </div>
            <div class="wrapper input range">
                <label for="delayCutoff">Cutoff</label>
                <input type="range" id="delayCutoff" min="0" max="22050" step="1" value="880">
            </div>
            <div class="wrapper input range">
                <label for="delayOffset">Offset</label>
                <input type="range" id="delayOffset" min="0" max="1" step=".01" value="0">
            </div>
        </div>

        <div id="odEditor" class="instrument-parameters">
            <h2>Overdrive</h2>
            <select id="odEnabled">
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
            <div class="wrapper input range">
                <label for="odDrive">Drive</label>
                <input type="range" id="odDrive" min="0" max="1" step=".01" value="0.5">
            </div>
            <div class="wrapper input range">
                <label for="odPreBand">Bandpass (pre drive)</label>
                <input type="range" id="odPreBand" min="0" max="1" step=".01" value="0.5">
            </div>
            <div class="wrapper input range">
                <label for="odColor">Pandbass (post drive)</label>
                <input type="range" id="odColor" min="0" max="22050" step="1" value="800">
            </div>
            <div class="wrapper input range">
                <label for="odPostCut">Low pass (post drive)</label>
                <input type="range" id="odPostCut" min="0" max="22050" step=".01" value="3000">
            </div>
        </div>

        <div id="eqEditor" class="instrument-parameters">
            <h2>Equalizer</h2>
            <select id="eqEnabled">
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
            <div class="wrapper input range">
                <label for="eqLow">Low</label>
                <input type="range" id="eqLow" min="0" max="1" step=".01" value="1">
            </div>
            <div class="wrapper input range">
                <label for="eqMid">Mid</label>
                <input type="range" id="eqMid" min="0" max="1" step=".01" value="1">
            </div>
            <div class="wrapper input range">
                <label for="eqHigh">High</label>
                <input type="range" id="eqHigh" min="0" max="1" step=".01" value="1">
            </div>
        </div>
    </section>
</div>

<section id="instrumentPresets">
    <h2>Presets</h2>
    <select id="presetSelect"></select>
    <div class="save">
        <input type="text" id="presetName" placeholder="preset name" />
        <button id="presetSave">Save preset</button>
    </div>
</section>
