<h2>Instrument editor</h2>
<ul id="oscillatorTabs">
    <li data-oscillator="1">
        Oscillator 1
    </li>
    <li data-oscillator="2">
        Oscillator 2
    </li>
    <li data-oscillator="3">
        Oscillator 3
    </li>
</ul>
<div id="canvasContainer"><!-- x --></div>