<div id="metaEditor">
    <h2>Song properties</h2>
    <input type="text" id="songTitle" placeholder="title" />
    <input type="text" id="songAuthor" placeholder="author name" />
    <select id="songTempo">
        <option value="10">44.84 BPM</option>
        <option value="9">49.96 BPM</option>
        <option value="8">56.18 BPM</option>
        <option value="7">64 BPM</option>
        <option value="6">74.77 BPM</option>
        <option value="5">89.99 BPM</option>
        <option value="4">112 BPM</option>
        <option value="3">150.28 BPM</option>
        <option value="2">223.26 BPM</option>
        <option value="1">497.93 BPM</option>
    </select>
</div>