<div id="meta-editor">
    <h1>Song properties</h1>
    <input type="text" id="songTitle" placeholder="title" />
    <input type="text" id="songAuthor" placeholder="author name" />
    <select id="songTempo">
        <option value="1">40 BPM</option>
        <option value="2">80 BPM</option>
        <option value="3">100 BPM</option>
        <option value="4">120 BPM</option>
        <option value="5">125 BPM</option>
        <option value="6">130 BPM</option>
        <option value="7">135 BPM</option>
        <option value="8">140 BPM</option>
        <option value="9">145 BPM</option>
        <option value="10">150 BPM</option>
    </select>
</div>