<div id="metaEditor">
    <h2>Song properties</h2>
    <input type="text" id="songTitle" placeholder="title" />
    <input type="text" id="songAuthor" placeholder="author name" />
    <button id="instrumentEditBtn">Instrument editor</button>
</div>
