<div id="metaEditor">
    <h2>Song properties</h2>
    <input type="text" id="songTitle" placeholder="title" />
    <input type="text" id="songAuthor" placeholder="author name" />
    <h2>Instruments</h2>
    <select id="instrumentSelect">
        <option value="0">Instrument 1</option>
        <option value="1">Instrument 2</option>
    </select>
</div>
