<div id="moduleParamEntry">
    <div class="header">
        <button class="help-button">?</button>
        <button class="close-button">x</button>
    </div>
    <h4>Module Parameter Change editor</h4>
    <ul id="moduleSelect">
        <ul class="event">
            <li data-value="volume">volume</li>
            <li data-value="pitchUp">pitch +8ve</li>
            <li data-value="pitchDown">pitch -8ve</li>
        </ul>
        <ul class="filter">
            <li data-value="filterEnabled">filter on/off</li>
            <li data-value="filterFreq">filter frequency</li>
            <li data-value="filterQ">filter q</li>
            <li data-value="filterLFOEnabled">filter LFO on/off</li>
            <li data-value="filterLFOSpeed">filter LFO speed</li>
            <li data-value="filterLFODepth">filter LFO depth</li>
        </ul>
        <ul class="delay">
            <li data-value="delayEnabled">delay on/off</li>
            <li data-value="delayTime">delay time</li>
            <li data-value="delayFeedback">delay feedback</li>
            <li data-value="delayCutoff">delay cutoff</li>
            <li data-value="delayOffset">delay offset</li>
        </ul>
    </ul>
    <fieldset>
        <div class="wrapper input radio">
            <h2>Glide ?</h2>
            <label for="glideTrue">On</label>
            <input type="radio" id="glideTrue" name="glide" value="true">
            <label for="glideFalse">Off</label>
            <input type="radio" id="glideFalse" name="glide" value="false">
        </div>
        <div class="wrapper input range">
            <label for="moduleValue">Parameter value</label>
            <input type="range" id="moduleValue" min="0" max="100" step="1">
            <div id="moduleInputValue"></div>
        </div>
        <p>
            For fast editing: use the keyboard to type a module parameter (first letter),
            use the "G" key to toggle glide on/off and type a numerical value between 0 to 99
            for its parameter value. Hit enter to confirm.
        </p>
        <button class="confirm-button">OK</button>
    </fieldset>
</div>
