<div id="noteEntry">
    <h4>Note entry editor</h4>
    <ul id="keyboardNotes">
        <li data-value="C"  class="C"></li>
        <li data-value="C#" class="CS sharp"></li>
        <li data-value="D"  class="D"></li>
        <li data-value="D#" class="DS sharp"></li>
        <li data-value="E"  class="E"></li>
        <li data-value="F"  class="F"></li>
        <li data-value="F#" class="FS sharp"></li>
        <li data-value="G"  class="G"></li>
        <li data-value="G#" class="GS sharp"></li>
        <li data-value="A"  class="A"></li>
        <li data-value="A#" class="AS sharp"></li>
        <li data-value="B"  class="B"></li>
    </ul>
    <ul id="octaves">
        <li data-value="1">1</li>
        <li data-value="2">2</li>
        <li data-value="3">3</li>
        <li data-value="4">4</li>
        <li data-value="5">5</li>
        <li data-value="6">6</li>
        <li data-value="7">7</li>
        <li data-value="8">8</li>
    </ul>
    <select id="instrument">
        <option value="0">Instrument 0</option>
        <option value="1">Instrument 1</option>
        <option value="2">Instrument 2</option>
        <option value="3">Instrument 3</option>
        <option value="4">Instrument 4</option>
        <option value="5">Instrument 5</option>
        <option value="6">Instrument 6</option>
        <option value="7">Instrument 7</option>
    </select>
    <button class="close-button">x</button>
    <p>
        For fast editing: use the keyboard to type a note name and
        octave number for easy pitch selection. Hit enter to confirm.
    </p>
    <button class="confirm-button">OK</button>
</div>
