<h4>Note entry editor</h4>
<select id="sound">

</select>
<select id="note">

</select>
<select id="octave">

</select>
<select id="accent">
    <option value="true">ACC</option>
    <option value="false">No</option>
</select>
<div class="close-button">x</div>
<p>
    For fast editing: use space, tab or arrow keys for sound property
    selection. Hit ENTER when ready.
</p>
