<h4>Note entry editor</h4>
<select id="sound">

</select>
<select id="note">

</select>
<select id="octave">

</select>
<select id="accent">
    <option value="true">ACC</option>
    <option value="false">No</option>
</select>
<div class="close-button">x</div>
