<h4>Note entry editor</h4>
<input type="text" id="sound" placeholder="Sound" />
<input type="text" id="note" placeholder="Note" />
<input type="text" id="octave" placeholder="Octave" />
<div class="close-button">x</div>
