<div id="unsupportedBrowser">
    <h1>Whoops...</h1>
    <p>
        The WebAudio API is not supported in this browser. Sadly, zTracker depends on this API
        in order to actual output sound!
    </p>
    <p>
        Luckily, you can get a web browser that offers support for free.
        We recommend <a href="https://www.google.com/chrome" target="_blank">Google Chrome</a> for an
        optimal experience.
    </p>
</div>
