<header id="header">
    <nav id="menu">
        <div class="toggle">
            <span>&#9776;</span>
        </div>
        <h1>efflux</h1>
        <section id="songSection"></section>
    </nav>
</header>

<div id="main">
    <h1>Whoops...</h1>
    <p>
        The WebAudio API is not supported in this browser. Sadly, efflux depends on this API
        in order to actually output sound!
    </p>
    <p>
        Luckily, you can get a web browser that offers support for free.
        We recommend <a href="https://www.google.com/chrome" target="_blank">Google Chrome</a> for an
        optimal experience.
    </p>
</div>

<div id="footer">
    <span>
        &copy; <a href="http://www.igorski.nl" target="_blank">igorski.nl</a> 2016
    </span>
</div>
