<div class="header">
    <h2>settings</h2>
    <div class="close">x</div>
</div>
<section id="midiSetup">
    <h2>MIDI setup</h2>
    <button id="midiConnect">Connect to MIDI API</button>

    <fieldset>
    <div class="wrapper select">
        <label for="midiDevices">Select a MIDI input device:</label>
        <select id="midiDevices">
            <option>Connect to MIDI API first.</option>
        </select>
    </div>
    <p>
        Note: you can record incoming MIDI notes straight into the patterns by clicking
        the record button in the transport controls. You can also record live during playback, but
        keep in mind that the notes will be quantized to the step resolution of the current pattern.
    </p>
    </fieldset>

</section>
