<h2>settings</h2>
<section id="midiSetup">
    <h2>MIDI setup</h2>
    <button id="midiConnect">Connect to MIDI</button>

    <div class="wrapper select">
        <label for="midiDevices">Select a MIDI input device:</label>
        Select a MIDI input device:
        <select id="midiDevices">
            <option>Connect first.</option>
        </select>
        <p>
            Note: you can record incoming MIDI notes straight into the patterns by clicking
            the record button in the transport controls. You can also record live during playback, but
            keep in mind that the notes will be quantized to the step resolution of the current pattern.
        </p>
    </div>
</section>
