<h2>settings</h2>
<section id="midiSetup">
    <h2>MIDI setup</h2>
    <button id="midiConnect">Connect to MIDI</button>

    <div class="wrapper select">
        <label for="midiDevices">Select a MIDI input device:</label>
        Select a MIDI input device:
        <select id="midiDevices">
            <option>Connect first.</option>
        </select>
    </div>
</section>
