<ul id="songButtons">
    <li id="songLoad">Load</li>
    <li id="songSave">Save</li>
{{#if addExport}}
    <li id="songImport">Import</li>
    <li id="songExport">Export</li>
{{/if}}
    <li id="songReset">Reset</li>
</ul>
