<div id="transportControls">
    <ul>
        <li id="playBTN" class="icon-play"></li>
        <li id="loopBTN" class="icon-loop"></li>
        <li id="recordBTN" class="disabled"></li>
        <li class="icon-metronome"></li>
        <li class="icon-settings"></li>
        <li id="patternBack">
            &lt;&lt;
        </li>
        <li id="currentPattern">
            <input class="current" value="1" maxlength="3">
            <span class="divider">/</span>
            <span class="total">1</span>
        </li>
        <li id="patternNext">
            &gt;&gt;
        </li>
    </ul>
    <div id="tempoControl" class="wrapper input range">
        <label for="songTempo">Tempo</label>
        <input type="range" name="tempo" id="songTempo" min="40" max="300" step="0.1" value="120">
        <span class="value" id="songTempoDisplay">120.0 BPM</span>
    </div>
</div>
