<div id="transportControls">
    <ul>
        <li id="playBTN" class="icon-play"></li>
        <li id="recordBTN"></li>
        <li class="icon-metronome"></li>
        <!--
        <li>&lt;</li>
        <li>&gt;</li> -->
    </ul>
    <div class="wrapper input range">
        <label for="songTempo">Tempo</label>
        <input type="range" name="tempo" id="songTempo" min="40" max="300" step="0.1" value="120">
        <span class="value" id="songTempoDisplay">120.0 BPM</span>
    </div>
</div>
