/* mixins */

@mixin noSelect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@mixin noEvents {
  pointer-events: none;
}

@mixin boxSize {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box;
}

@mixin textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex {
  display: -webkit-flex;
  display: flex;
}

@mixin inlineFlex {
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin animate($property: all, $delay: .5s) {
  transition: $property $delay cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

@mixin verticalScrollOnMobile() {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; /* we should never want this in modal windows */
}
