@import "_variables";
@import "typography";

/* 1. responsive breakoff points */

// phones
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

// anything above phone resolution (e.g. tablet/laptop/desktop)
@mixin large {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

// ideal size (shows all eight track lines in editor)
@mixin ideal {
    @media (min-width: #{$ideal-width}) {
        @content;
    }
}

// components (such as modal windows) that have an ideal width x height size
// can specify styles at the cutoff points using the following mixins:

// everything matching the ideal width for the component
@mixin minWidth( $width ) {
    @media screen and ( min-width: $width ) {
        @content;
    }
}

// everything below the ideal width for the component
@mixin minWidthFallback( $width ) {
    @media screen and ( max-width: $width ) {
        @content;
    }
}

// everything matching the ideal dimensions for the component
@mixin componentIdeal( $width, $height ) {
    @media screen and ( min-width: $width ) and ( min-height: $height ) {
        @content;
    }
}
// everything below the ideal dimensions for the component
@mixin componentFallback( $width, $height ) {
    @media screen and ( max-width: $width ), ( max-height: $height ) {
        @content;
    }
}

/* 2. UX utilities */

@mixin noSelect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@mixin noEvents {
    pointer-events: none;
}

@mixin boxSize {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box;
}

@mixin truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex {
    display: -webkit-flex;
    display: flex;
}

@mixin inlineFlex {
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin animate( $property: all, $delay: .5s ) {
    transition: $property $delay cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

@mixin verticalScrollOnMobile() {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden; /* we should never want this in modal windows */
}

/* 3. base UI components */

@mixin list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin button {
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $color-1;
    color: #000;
    font-size: 95%;
    border: 2px solid #333;
    border-radius: 7px;
    border: none;
    padding: $spacing-small $spacing-medium;
    margin-right: $spacing-small;
    @include boxSize();
    @include toolFont();

    &:hover {
        background-color: #FFF;
    }

    &:disabled {
        background-color: #333;
        color: #666;
        cursor: default;
    }
}

.button {
    @include button();
}

@mixin ghostButton {
    cursor: pointer;
    background: transparent;
    border: none;
    vertical-align: middle;
    @include globalFont();

    &:hover {
        color: #000;
    }
}

@mixin editorComponent {
    padding: $spacing-small;
    background-color: $color-editor-background;
    border: 3px solid #28292d;
    border-radius: $spacing-small;
    margin-bottom: $spacing-small;
    @include boxSize();

    .divider {
        @include divider();
    }
}

@mixin divider() {
    width: calc(100% + #{$spacing-small * 2 });
    margin: $spacing-medium 0 $spacing-xsmall -#{$spacing-small};
    border: none;
    border-top: 1px dashed #666;

    &--bottom {
        margin-top: 0;
    }
}

@mixin overlay {
    // mobile first, override in custom inheriting classes
    // what the desktop / tablet views should look like
    position: fixed;
    z-index: $z-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .header {
        width: 100%;

        h2 {
            display: block;
            margin: $spacing-xsmall 0 0;
            padding: 0;
            @include toolFont();
            font-size: 120%;
        }

        .help-button {
            @include button();
            position: absolute;
            top: $action-button-top;
            right: ($spacing-large * 2 + $spacing-xsmall);
        }

        &__actions {
            position: absolute;
            top: $action-button-top;
            right: ($spacing-large * 2 + $spacing-xsmall);
        }

        .close-button {
            @include button();
            position: absolute;
            top: $action-button-top;
            right: $spacing-large - $spacing-small;
            background-color: $color-1;
        }
    }
}
