/* override the default scrollbars style to generalize appearance across browsers / OSes */

@mixin styledScrollbars {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-corner {
        background-color: #000;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: $spacing-medium;
        background-color: #000;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: $spacing-medium;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: $color-1;
    }
}
