/* application variables */

$app-width: 960px;
$ideal-width: 1600px;
$mobile-width: 685px; // the threshold below which we start to use the mobile view

$spacing-xxsmall: 2px;
$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;
$spacing-xxlarge: 112px;

$menu-height: 46px;
$transport-height: 42px;
$toggle-width: 50px;
$footer-height: 45px;
$ideal-pattern-editor-width: 1150px;
$ideal-instrument-editor-width: 900px;
$ideal-instrument-editor-height: 703px;
$ideal-maximized-instrument-editor-width: 1180px;
$ideal-maximized-instrument-editor-height: 820px;
$action-button-top: #{$spacing-medium - $spacing-xsmall};
$note-entry-editor-height: 150px;
$note-entry-editor-height-expanded: 220px;
$sampleWaveformHeight: 200px;

@import "colors";
