/* application variables */

$spacing-xxsmall: 2px;
$spacing-xsmall: 4px;
$spacing-small: 8px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;
$spacing-xxlarge: 112px;

$menu-height: 42px;
$transport-height: 44px;
$toggle-width: 50px;
$footer-height: 45px;
$ideal-pattern-editor-width: 1150px;
$ideal-instrument-editor-width: 900px;
$ideal-instrument-editor-height: 703px;
$ideal-maximized-instrument-editor-width: 1180px;
$ideal-maximized-instrument-editor-height: 870px;
$action-button-top: #{$spacing-medium - $spacing-xsmall};
$note-entry-editor-height: 150px;
$note-entry-editor-height-expanded: 220px;
$sampleWaveformHeight: 200px;
$track-editor-width: 40px;
$jam-channel-editor-width: 308px;

$app-width: 960px;
$mobile-width: 685px; // the threshold below which we start to use the mobile view
$ideal-width: 1600px;
$ideal-width-jam-mode: ( $jam-channel-editor-width * 4 ) + $track-editor-width + $spacing-medium; // spacing for scrollbar

// z indices
$z-notifications: 8;
$z-loader: 8;
$z-window: 7;
$z-overlay: 6;
$z-blind: 5;
$z-open-menu: 4;
$z-header: 3;
$z-footer: 2;
$z-keyboard: 1; // above any application-editor UI

@import "colors";
