/* layout variables */

$app-width: 960px;
$ideal-width: 1560px;
$ideal-height: 650px;
$tablet-portrait-width: 768px;
$mobile-width: 685px; // the threshold below which we start to use the mobile view

$menu-height: 46px;
$toggle-width: 50px;
$footer-height: 45px;

@import '_mixins.scss';
@import 'colors.scss';
@import 'typography.scss';
@import 'layout.scss';
