/* layout variables */

$app-width: 960px;
$ideal-width: 1560px;
$ideal-height: 650px;
$tablet-portrait-width: 768px;
$mobile-width: 685px; // the threshold below which we start to use the mobile view

$menu-height: 46px;
$transport-height: 42px;
$toggle-width: 50px;
$footer-height: 45px;
$ideal-instrument-editor-width: 855px;
$ideal-instrument-editor-height: 580px;

$spacing-xsmall: 4px;
$spacing-small: 7px;
$spacing-medium: 14px;
$spacing-large: 28px;
$spacing-xlarge: 56px;

@import '_mixins.scss';
@import '_utilities.scss';
@import 'colors.scss';
@import 'typography.scss';
