/* application specific colour scheme */

$color-1: #FFE23D;
$color-2: #FF5900;
$color-3: #3BBBFF;
$color-4: #BBFF3D;
$color-5: #FF813D;
$color-background: #53565c;
$color-editor-background: #393B40;

$color-instrument-1: #b25050;
$color-instrument-2: #b28050;
$color-instrument-3: #a9b250;
$color-instrument-4: #60b250;
$color-instrument-5: #50b292;
$color-instrument-6: #5071b2;
$color-instrument-7: #8850b2;
$color-instrument-8: $color-5;
