/* main application layout (scoped styling in root component) */

@use "sass:math";

@import "_mixins";
@import "_scrollbars";

#efflux {
    @include noSelect();
    @include styledScrollbars();
}

.application-header {
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    background-image: linear-gradient(to bottom,#282828 35%,#383838 90%);
    background-repeat: repeat-x;
    padding: $spacing-small 0 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 200;
    border-bottom: 3px solid #53565d;
    @include boxSize();
}

.container {
    width: 100%;
    margin: 0 auto;
}

.application-properties {
    @include editorComponent();
    padding: $spacing-small 0;
    margin: 88px auto 0; /* offset top margin by menu height */
    border-radius: 0;
    border: none;
}

.application-editor {
    @include flex();
    position: absolute;
    top: 134px; /* menu + pattern editor */
    bottom: $footer-height;
    overflow: hidden;

    &.jam-mode {
        top: 86px; /* no pattern editor */
    }

    &.note-entry-mode {
        bottom: $note-entry-editor-height !important;
    }
}

#blind {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 400; // below overlays (see _variables.scss)
}

.application-footer {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom,#474747 0,#303030 100%);
    width: 100%;
    height: $footer-height;
    color: #EEE;
    @include titleFont();

    span {
        width: auto;
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-top: $spacing-medium;
    }
}

/* ideal app width and up */

@media screen and ( min-width: $app-width ) {
    .application-footer span {
        width: $app-width;
    }
}

/* standard width: large TABLET/LAPTOP */

@media screen and ( min-width: $app-width ) {
    .container {
        width: inherit;
        max-width: $ideal-width;
        padding: 0;
    }

    .application-editor {
        left: 50%;
        margin-left: math.div( -$ideal-width, 2 );
    }
}

/* PHONE */

@include mobile() {
    $order-menu-height: 43px; // eventually this should always be present, for now its optional

    .application-header {
        height: $transport-height;
        &.expanded {
            height: 100%;
        }
    }

    .application-footer {
        padding: 0 $spacing-large;
        z-index: 11;
        @include boxSize;
    }
    /* when mobileMode is "settings" we show the tempo control and song editor by expanding these */
    .application-properties {
        margin: 116px auto 0;

        &--expanded {
            margin-top: (116px + $order-menu-height);
        }
    }

    .application-editor {
        width: inherit;
        top: 85px !important;

        &.settings-mode {
            top: 210px !important;

            &--expanded {
                top: (210px + $order-menu-height) !important;
            }
        }
    }

    .container {
        padding: 0;
        margin: 0;
    }
}

/* everything LARGER than a PHONE */

@include large() {
    .container {
        padding: 0 $spacing-large;
        left: auto;
        @include boxSize();

        /* menu contains submenu */

        &.padded {
            padding-left: $spacing-large;
            padding-right: $spacing-large;

            &:before, &:after {
                height: 1 $spacing-large;
            }
        }
    }
}

/* TABLET/DESKTOP portrait width (everything smaller than app width) */

@media screen and (max-width: $app-width) {
    // allow scrolling as we can expect the overlays to have scrollable content
    html {
        overflow: auto;
    }

    .help-section {
        display: none;
        width: 0;
    }
    .application-editor {
        overflow-x: scroll !important;
        overflow-y: hidden !important; // body scrolls instead
    }
}

/* TABLET/DESKTOP medium to large */

@media screen and (min-width: $app-width) and (max-width: $ideal-width) {
    .application-editor {
        left: auto;
        margin-left: 0;

        &.has-help-panel {
            .pattern-track-list,
            .timeline-editor {
                width: 72%;
            }
            .help-section {
                width: 25%;
            }
        }
    }
    #trackEditor {
        width: 3%;
    }
    .pattern-track-list,
    .timeline-editor {
        width: 97%;
    }
}

/* DESKTOP wide screen */

@include ideal() {
    .application-editor {
        margin-left: math.div( -( $ideal-width - $spacing-xlarge ), 2 );
    }
}
