@import "colors.scss";

@mixin globalFont() {
    color: #b7babe;
    font-size: $spacing-medium;
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    line-height: 1.5;
}

@mixin toolFont() {
    font-family: "Squada One", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
