@import "colors.scss";

@mixin globalFont() {
    color: #b7babe;
    font-size: $spacing-medium;
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    line-height: 1.5;
}

@mixin titleFont() {
    font-family: "Montserrat", Helvetica, Verdana, sans-serif;
}

@mixin toolFont() {
    font-family: "Squada One", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

@mixin smallText() {
    font-size: 85%;
    padding: $spacing-medium;
    @include boxSize();
    border: 1px solid $color-border;
    border-radius: $spacing-medium;
}
