@use "_colors";
@use "_variables";

@mixin globalFont() {
    color: #b7babe;
    font-size: variables.$spacing-medium;
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    line-height: 1.5;
}

@mixin titleFont() {
    font-family: "Montserrat", Helvetica, Verdana, sans-serif;
}

@mixin toolFont() {
    font-family: "Squada One", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

@mixin smallText() {
    font-size: 85%;
    padding: variables.$spacing-medium;
    border: 1px solid colors.$color-border;
    border-radius: variables.$spacing-medium;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box;
}
