#hatSection
{
  .EditorComponent;
  float: left;
  clear: left;
  width: 100%;
  margin-top: .25em;

  h2 {
    float: left;
    clear: left;
  }

  fieldset {
    float: left;
    clear: left;
    padding: 1em;
    border: none;
    .boxSize;

    .wrapper {
      float: left;
      clear: left;

      label {
        float: left;
        width: 125px;
      }

      input[type=range] {
        width: 50px;
      }
    }
  }

  .pattern {
    float: left;
    margin-top: 1em;

    li {
      display: inline-block;
      cursor: pointer;
      margin: .1em;
      width: 30px;
      height: 30px;
      background-color: #000;
      //border-radius: 7px;

      &.active {
        background-color: #3bbbff;
      }
    }
  }
}
