@idealInstrumentEditorWidth: ( @app-width * .85 );
@idealInstrumentEditorHeight: 540px;

#instrumentEditor
{
  .EditorComponent;

  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  h2 {
    float: left;
    margin: 0;
  }

  canvas {
    border-radius: 7px;
    border: 4px solid #666;
  }
}

#oscillatorTabs {

  float: left;
  clear: left;
  margin: .5em 0 0;

  li {
    display: inline-block;
    border: 1px solid #666;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: .25em 1em;
    cursor: pointer;
    background-color: #666;
    font-size: 90%;
    font-weight: bold;

    &.active {
      background-color: transparent;
      color: #FFF;
      position: relative;
    }
  }
}

#instrumentSelect {
  float: right;
}

#instrumentOscillatorEditor {

  .boxSize;

  .oscillatorWaveforms {
    float: left;
    clear: left;
  }

  #oscillatorEditor {
    clear: left;
  }
}

#instrumentModulesEditor {

  padding: 1em;
  .boxSize;
}

#canvasContainer {
  margin: 1em 0;
}

#oscillatorEditor,
#filterEditor,
#envelopeEditor {
  float: left;
}

@media screen and ( min-width: @idealInstrumentEditorWidth )
{
  #instrumentEditor {

    top: 50%;
    left: 50%;
    width: @idealInstrumentEditorWidth;
    height: @idealInstrumentEditorHeight;
    margin-left: -@idealInstrumentEditorWidth / 2;
    margin-top: -@idealInstrumentEditorHeight / 2;
  }

  #instrumentOscillatorEditor {
    float: left;
    width: 70%;
    padding: 1em;
    border: 2px solid #666;
    border-top: 1px solid #666;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  #instrumentModulesEditor {
    float: left;
    width: 30%;
  }
}
