#instrumentEditor
{
  .EditorComponent;

  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;

  @width: 750px;
  @height: 500px;

  width: @width;
  height: @height;
  margin-left: -@width / 2;
  margin-top: -@height / 2;
}

#oscillatorEditor,
#filterEditor,
#envelopeEditor {
  //display: inline-block;
  float: left;
}
