@idealInstrumentEditorWidth: ( @app-width * .9 );
@idealInstrumentEditorHeight: 580px;

#instrumentEditor
{
  .EditorComponent;
  .Overlay;

  height: auto;

  canvas {
    border-radius: 7px;
    border: 4px solid #666;
  }

  .instrument-parameters {

    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 1em;

    h2 {
      clear: both;
      padding: .5em 0;
    }

    .wrapper.range {

      width: 100%;
      clear: both;

      label {
        width: 33%;
        vertical-align: middle;
        display: inline-block;
        font-style: italic;
      }

      input {
        width: 50%;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  .tabbed-content {
    display: none;
    border-top: 1px solid #666;

    &.active {
      display: block;
    }
  }
}

.tabList {

  display: inline-block;
  margin: .5em 0 0;

  li {
    display: inline-block;
    border: 1px solid #666;
    border-bottom: 1px solid #393b40;
    margin-bottom: -1px; // makes it essentially appear "bottom-less" due to border-bottom colour over background
    padding: .25em 1em;
    cursor: pointer;
    background-color: #666;
    font-size: 90%;
    font-weight: bold;

    &.active {
      background-color: transparent;
      color: #FFF;
      position: relative;
    }
  }
}

#instrumentSelect {
  position: absolute;
  top: .85em;
  right: 6.5em;
}

#instrumentOscillatorEditor {

  .boxSize;

  .oscillatorWaveforms {

  }
}

#oscillatorEditor {
  display: inline-block;
  padding: .5em .75em;
  .boxSize;
  border: 1px solid #666;
  min-height: 174px;
}

#envelopeEditor {
  margin-top: -3em;

  .tabbed-content {
    padding: .5em .75em;
    border: 1px solid #666;
    min-height: 165px;
  }
}

#instrumentModulesEditor {

  float: right;
  padding: 0 1em;
  .boxSize;

  .instrument-parameters {
    width: 100%;
    border: 1px solid #666;
    border-radius: 7px;
    padding: 1em;
    margin-bottom: .5em;
    .boxSize;
  }

  .tabbed-content {
    border: none;
  }
}

#filterEditor {
  margin-bottom: .7em;
}

#filterEnabled {
  float: right;
}

#delayEnabled {
  float: right;
}

#canvasContainer {
  margin: 1em 0 0;
}

.oscillatorWaveforms {
  padding: .5em 0;
}

#instrumentPresets {
  display: inline-block;
  width: 100%;

  .save {
    float: right;
  }
}

/* ideal size and above (tablet/desktop) */

@media screen and ( min-width: @idealInstrumentEditorWidth )
{
  #instrumentEditor {
    top: 50%;
    left: 50%;
    width: @idealInstrumentEditorWidth;
    margin-left: -@idealInstrumentEditorWidth / 2;
    margin-top: -@idealInstrumentEditorHeight / 2;
  }

  #instrumentOscillatorEditor {
    display: inline-block;
    width: 66%;
    padding: 1em;
    border: 1px solid #666;
    border-top: 1px solid #666;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  #instrumentModulesEditor {
    display: inline-block;
    width: 33%;
    margin-top: -37px;
  }
}

/* mobile */

@media screen and ( max-width: @idealInstrumentEditorWidth )
{
  #instrumentEditor {
    position: absolute;

    .instrument-parameters {
      .boxSize;
      padding: 1em;
      width: 100%;
      display: block;
      border-radius: 7px;
      border: 1px solid #666;
      margin-bottom: .5em;
    }
  }

  #instrumentModulesEditor {
    clear: left;
    width: 100%;
    padding: 0;
  }

  #envelopeEditor {
    margin-top: auto;
  }

  #instrumentSelect {
    top: .25em;
  }

  #instrumentPresets {
    .boxSize;
    padding: 0 1em;

    h2 {
      width: 100%;
    }
    select {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .save {
      float: none;
      margin-top: .5em;
      input {
        width: auto;
      }
      button {
        float: right;
      }
    }
  }
}
