// equal column heights for center section

#center {
  display: table;
  width: 100%;
  padding-bottom: 1em;

  #patternEditor {
    display: table-cell;
    width: 65%;
  }

  #helpSection {
    display: table-cell;
    vertical-align: top;
    width: 35%;
  }
}

#helpSection
{
  .EditorComponent;
  padding: 1em 1.5em;

  h4 {
    color: #FFF;
    margin: 0;
    font-size: 110%;
  }
}

@media screen and ( max-width: @mobile-width )
{
  #center {
    #helpSection {
      display: none;
    }
  }
}
