// equal column heights for center section

#center {
  display: table;
  width: 100%;
  padding-bottom: 1em;
}

#patternEditor {
  display: table-cell;
  width: 14%;
}

#patternTrackList {
  display: table-cell;
  width: 51%;
}

#helpSection {
  display: table-cell;
  vertical-align: top;
  width: 35%;

  .EditorComponent;
  padding: 1em 1.5em;

  h4 {
    color: #FFF;
    margin: 0;
    font-size: 110%;
  }
}

@media screen and ( min-width: @app-width )
{
  #patternEditor {
    width: 9%;
  }
  #patternTrackList {
    width: 56%;
  }
  #helpSection {
    width: 35%;
  }
}

@media screen and ( max-width: @tablet-portrait-width )
{
  #patternEditor {
    width: 10%;
    .controls li {
      margin-right: .5em;
    }
    .indices {
      display: none;
    }
  }
  #patternTrackList {
    width: 90%;
  }
  #helpSection {
    display: none;
    width: 0;
  }
}
