#moduleParamEntry {

  .EditorComponent;
  .Overlay;
  .noSelect;
  padding: .25em 1em;
  border-radius: 7px;
  box-shadow: 0 0 25px rgba(0,0,0,.5);

  h4 {
    margin: .75em 0;
  }

  fieldset {
    border: none;
    padding: .5em 0;
  }

  #instrument {
    width: 120px;
  }

  #moduleSelect {
    position: relative;

    ul {
      list-style-type: none;
      .Flex;
    }

    li {
      float: left;
      cursor: pointer;
      position: relative;
      background-color: @color-2;
      vertical-align: top;
      color: #000;
      font-weight: bold;
      padding: .5em 1em;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      flex-grow: 1;
      font-size: 80%;

      &.selected, &:hover {
        background-color: @color-1;
      }

      &:after {
        position: absolute;
        bottom: 7px;
        left: 7px;
        pointer-events: none;
      }
    }
  }

  fieldset {

    h2 {
      padding-left: 0;
    }
  }

  .wrapper.range {
    label {
      display: inline;
    }
    input {
      width: 90%;
      display: inline;
      margin-left: .5em;
    }
  }

  #moduleInputValue {
    color: @color-1;
    font-weight: bold;
    font-style: italic;
    display: inline;
    margin-left: .5em;
  }

  .confirm-button {
    width: 100%;
    padding: .5em 1em;
  }
}

@media screen and ( max-width: @mobile-width )
{
  #moduleParamEntry {
    border-radius: 0;
  }
}

@mpeWidth: 450px;
@mpeHeight: 420px;

@media screen and ( min-width: @mpeWidth )
{
  #moduleParamEntry {
    top: 50%;
    left: 50%;
    width: @mpeWidth;
    height: @mpeHeight;
    margin-left: -( @mpeWidth / 2 );
    margin-top: -( @mpeHeight / 2);

    .wrapper.range input {
      width: 55%;
    }
  }
}
