#patternEditor {
  display: inline-block;
}

#patternEditor
{
  margin: 0 0 0 10px;

  h4 {
    display: inline;
  }

  ul {
    display: inline;

    li {
      display: inline;
      cursor: pointer;
    }

    button, select {
      margin: 0;
      background-color: #666;
      color: #b6b6b6;
      border-radius: 0;
      border: 0;

      &:hover {
        color: #fff;
      }
    }
  }
}

/* tablet view */

@media screen and ( min-width: @app-width )
{
  #patternEditor {
    // show divider before section content
    &:before {
      content: "";
      position: absolute;
      border-left: 1px solid #666;
      margin-top: -10px;
      height: 100%;
    }
  }
}

/* everything above mobile view and below app width */

@media screen and ( min-width: @mobile-width ) and ( max-width: @app-width )
{
  #patternEditor {
    // TODO: we're now hiding our interface from these users...
    display: none;
  }
}

/* phone view */

@media screen and ( max-width: @mobile-width )
{
  #patternEditor  {
    display: none; // only visible when settings mode is active
  }

  #patternEditor {
    h2 {
      display: none;
    }
    ul {
      display: flex;
      margin: 0;

      li {
        float: left;
        flex-grow: 1;
        position: relative;
      }
    }
  }
}
