#settings
{
  .EditorComponent;
  .Overlay;
  display: none;

  &.active {
    display: block;
  }

  fieldset {
    legend {
      font-weight: bold;
      font-style: italic;
      color: @color-1;
    }
    border: 1px solid grey;
    border-radius: 7px;
    padding: .5em 1em;
    .boxSize;
  }
}

#midiSetup
{
  display: none;

  &.enabled {
    display: block;
  }

  .wrapper {
    label, select {
      display: block;
    }
    select {
        width: 100%;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    select option {
        width: inherit;
        text-overflow:ellipsis;
        overflow:hidden;
    }
  }
}

@settingsWidth: 500px;
@settingsHeight: 500px;

@media screen and ( min-width: @settingsWidth) and ( min-height: @settingsHeight )
{
  #settings {
    width: @settingsWidth;
    height: @settingsHeight;
    top: 50%;
    left: 50%;
    margin-left: -( @settingsWidth / 2 );
    margin-top: -( @settingsHeight / 2 );
  }
}
